<form (ngSubmit)='submit(addForm)' #addForm='ngForm'>
    <input type="text" name='name' ngModel required placeholder="Pavadinimas">
    <br>
    <input type="text" name='code' ngModel required placeholder="Kodas">
    <br>
    <input type="number" name='price' ngModel required placeholder="Kaina">
    <br>
    <input type="number" name='previousPrice' ngModel required placeholder="Buvusi kaina">
    <br>
    <input type="text" name='exchange' ngModel required placeholder="Kursas">
    <br>
    <select name="favorite" ngModel>
        <option value="0">Ne</option>
        <option value="1">Taip</option>
    </select>
    <button>Issiusti</button>
</form>